.my-custom-scrollbar {
  position: relative;
  height: 70vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.fade-in {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
